{% load static %}
<html>

<head>
  <title>Django Girls blog</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>

<body>
  {% if user.is_authenticated %}
    <a href="{% url 'post_new' %}" class="top-menu">
      <span class="glyphicon glyphicon-plus"></span>
    </a>
  {% endif %}
    <div class="header">
    <h1><a href="/">Django Girls Blog</a></h1>
  </div>

  {% block content%}{% endblock %}
</body>

</html>