<html>

<head>
  <title>Django Girls blog</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <style>
    body {
      background-color: #ffffff;
      padding: 50px;
      color: #000000;
      font-family: 'Montserrat', sans-serif;
    }

    a {
      color: #ff5252;
      text-decoration: none;
    }

    .header {
      background-color: #ff5252;
      color: #ffffff;
      padding: 20px;
    }

    .header a {
      color: #ffffff;
    }
  </style>
</head>

<body>
  <div class="header">
    <h1><a href="/">Django Girls Blog</a></h1>
  </div>

  <div>
    <h2><a href="">My first post</a></h2>
    <p>published: 14.06.2014, 12:14</p>
    <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta
      gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
      massa justo sit amet risus.</p>
  </div>

  <div>
    <h2><a href="">My second post</a></h2>
    <p>published: 14.06.2014, 12:14</p>
    <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta
      gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
  </div>
</body>

</html>