<html>

<head>
  <title>Django Girls blog</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <style>
    body {
      background-color: #ffffff;
      padding: 50px;
      color: #000000;
      font-family: 'Montserrat', sans-serif;
    }

    a {
      color: #ff5252;
      text-decoration: none;
    }

    .header {
      background-color: #ff5252;
      color: #ffffff;
      padding: 20px;
    }

    .header a {
      color: #ffffff;
    }
  </style>
</head>

<body>
  <div class="header">
    <h1><a href="/">Django Girls Blog</a></h1>
  </div>

  {% for post in posts %}
    <div>
      <h2><a href="">{{ post.title }}</a></h2>
      <p>publicado: {{ post.published_date }}</p>
      <p>{{ post.text|linebreaksbr }}</p>
    </div>
  {% endfor %}
</body>

</html>